{% extends 'base.html' %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <div>
        <form action="" method="GET">
            <div>
                <div>
                    <label for="searchMovie">Search for Movie:</label>
                </div>
                <div>
                    <input type="text" name="searchMovie" id="searchMovie">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <p class="text-center">
            Searching for <strong>
                {% if searchTerm %}
                {{ searchTerm }}
                {% else %}
                all movies
                {% endif %}
            </strong>
        </p>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
            <div class="card" style="width: 18rem">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                    <p class="card-text"><b class="text-muted">Genre:</b> <small class="text-muted">{{ movie.genre }}</small></p>
                    <p class="card-text"><b class="text-muted">Year:</b> <small class="text-muted">{{ movie.year }}</small></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <br/>
        <br/>
        <br/>
        <h2>Join our mailing list:</h2>
        <form action="{% url 'signup' %}">
            <div class="mb-3">
                <label for="email" class="form-label">Enter your email: </label>
                <input type="email" class="form-control" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</body>
{% endblock content %}